@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
*, *:before, *:after {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Josefin sans', sans-serif;
    color: inherit;
    font-style: normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#finder{
    width: 300px;
    overflow: hidden;
    height: 0;
    max-height: 225px;
    background: #424242;
    pointer-events: none;
    margin: auto;
    transition: .3s ease all;
    opacity: 0;
}

#finder.active{
    height: 225px;
    opacity: 1;
}

#finder video{
    max-width: 300px;
}

button{
    padding: .33rem .75rem;
}

#welcome{
    text-align: center;
    padding: 3rem 2rem;
}
